<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Signup</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <div class ="container mt-4">
      <%- include("./partials/form") %>
    </div>
    <%- include("./partials/script") %>
</body>
</html>